
/*
respawn.style.css v1.0
Sidharth Raja | sidharthr.com

Code is poetry. Don't panic!
*/



/* OVERALL */


*,*:before,*:after
{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	/*so dimensions include padding and border but not the margin*/
}

html,body
{
	font-size: 100%;
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	color: #222;
	margin: 0;
	padding: 0;
}

a
{
	text-decoration: none;
	color:#555;
}



/* HEADINGS */

h1,h2,h3,h4,h5,h6
{
	color:#333;
}

h1
{
	font-size: 3em;
}

h2
{
	font-size:2.7em;
}

h3
{
	font-size: 2.5em;
}

h4
{
	font-size: 2em;
}

h5
{
	font-size: 1.5em;
}

h6
{
	font-size: 1.2em;
}



/* GRID */

.full 
{
	width: 100%;
}

.four-fifths
{
	width: 80%;
}

.two-thirds{
	width: 66.66%;
}

.three-fifths
{
	width: 60%;
}

.half
{
	width: 50%;
}

.two-fifths
{
	width: 40%;
}

.third
{
	width: 33.33%;
}

.quarter
{
	width: 25%;
}



/* ALIGNMENT */

.center-text
{
	text-align: center;
}

.right-text
{
	text-align: right;
}

.left-text
{
	text-align: left;
}

.center
{
	margin:0 auto;
}
